.city-list {
  margin-right: 30px;
}

.city-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.city-li {
  display: block;
  height: 44px;
  line-height: 44px;
  padding-left: 25px;
  border-bottom: 1px solid #e3e6e9;
  margin-left: 15px;
  font-family: Sans-serif;
}
.city-li:first-child {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background-color: #f2f8fb;
  padding: 0 15px;
  margin-left: 0;
  position: sticky;
  top: -1px;
  border-bottom: 0;
}

.city-index {
  width: 30px;
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.city-index-item {
  flex: 1;
  display: block;
  text-decoration: none;
  font-size: 10px;
  color: #1ba9ba;
  font-style: normal;
}
